<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</section>

<section class = "github">
  <% if @github_data %>
    <h1> GitHub </h1>
    <div>
      <h2> Repositories </h2>
        <ul>
          <% @github_data.repos[0..4].each do |repo| %>
            <div class = "repository">
              <li> <%= link_to repo.name, repo.url %> </li>
            </div>
          <% end %>
        </ul>
    </div>

    <div>
      <h2> Followers </h2>
      <% @github_data.followers.each do |f| %>
      <div class = "followers">
        <%= link_to f.login, f.url %>
      </div>
      <% end %>
    </div>

    <div>
      <h2> Following </h2>
        <ul>
          <% @github_data.following.each do |github_user| %>
            <div class = "following">
              <li> <%= link_to github_user.login, github_user.url %> </li>
            </div>
          <% end %>
        </ul>
    </div>
  <% end %>
</section>
